@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #f8fafc;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Default font */
  --font-sans: var(--font-plus-jakarta);

  /* Optional custom fonts */
  --font-inter: var(--font-inter);
  --font-manrope: var(--font-manrope);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f8fafc;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-plus-jakarta);
}